@model Homework6.Models.BirthdayCardInfo

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Sent</title>
</head>
@{
    Layout = null;
}
<!DOCTYPE html>
<p class="panel-heading text-center">BIRTHDAY CARD SENT!</p>
<h1 class="panel-heading text-center">To: @Model.To</h1>
<h1 class="panel-heading text-center"> From: @Model.From</h1>
<h2 class="panel-heading text-center">Message: @Model.Message</h2>




